<div class="chat-log" >
  <div class="chat-message" id="message-<%= message.id %>" data-message-userid="<%= message.user.id %>">
        <p class="chat-message__text chat-left hidden-chat"><%= message.user.name %><span class="hidden-chat-dots chat-left-stick "></span></span><%= message.content %><span class="message-timestamp-right"><%= time_ago_in_words(message.created_at)%></span></p>
        <span class="chat-message__avatar-frame">
      <% if message.user.photo.attached? %>
      <%=  cl_image_tag message.user.photo.key, class: "chat-message__avatar", height: 50, width: 50, crop: :fill %>
      <% else %>
        <img src="https://media.kasperskydaily.com/wp-content/uploads/sites/85/2019/08/12075337/selfie-with-id-card-scam-featured.jpg" alt="" class='chat-message__avatar'>
      <% end %>
    </span>
    <p class="chat-message__text chat-right"><%= message.user.name %><span class="hidden-chat-dots chat-right-stick"></span><%= message.content %><span class="message-timestamp-left"><%= time_ago_in_words(message.created_at)%></span></p>
  </div>
</div>
