<div class="container-fluid m-0 p-0">
  <div class="row">
    <div class="col-6 pl-5 pr-5 mr-0 results" data-controller="myevents">
      <div class="results-pane">
        <div class="results-header pt-3 pb-3 pl-2 mt-3">
          <h1 class="text-primary">My dashboard</h1>
        </div>
        <div class="d-flex optiom">
          <h2 data-action="click->myevents#filter" data-category="all" class="ll b activeee">all</h2>
          <div class="butt">
            <h2 data-action="click->myevents#filter" data-category="joining" class="jj b">joining</h2>
          </div>
          <h2 data-action="click->myevents#filter" data-category="hosting" class="hh b">hosting</h2>
        </div>
        <div class="results-output">
          <div class="results-grouping mb-5">
            <div class="results-grouping-title pl-2 mb-4">
              <h3 class="text-uppercase"><!-- Next 24 hrs --></h3>
            </div>
            <%= render "shared/card" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 ml-0 p-0" style="background-color: #2F2E2E; height: 100%;">
      <div class="d-flex butttt">
        <h2 id="moreinfo"class="k mm activeeee" >More info</h2>
        <h2 id="chat" class="k cc">Chat</h2>
      </div>
      <div>
        <div class=" py-3 pl-5 text-info"></div>
        <% @events.each do |event| %>
          <div class="d-none event-info-2" id="event-info-<%= event.id %>" >
            <div class="info-for-event">
            <h2 class="event-titlee"><%= event.title %></h2>
              <div class="main-descrip">
                <p><strong class="top-descr">Description:</strong> <%= event.description %></p>
              </div>
              <div class="mappp d-flex">
                <div class="game-descrip">
                <p><strong class="top-descr">Game:</strong></p>
                <%=  cl_image_tag event.game.photo.key, class: "event-imgg", height: 400, width: 400, crop: :fill %>
              </div>
                <div class="pariti ">
                  <div></div>
                  <p><strong class="top-descr">Participants:</strong> <% event.participants.each do |participant| %></p>
                  <div>
                    <ul class="list-unstyled">
                      <% if participant.photo.attached? %>
                        <% image_url = cloudinary_url(participant.photo.key) %>
                        <% else %>
                        <% image_url = 'https://miro.medium.com/max/395/1*reXbWdk_3cew69RuAUbVzg.png' %>
                        <% end %>
                      <li><%= image_tag(image_url, class: 'small-avatar') %><span><%= participant.nickname.capitalize %></span></li>
                    </ul>
                  </div>
                  <% end %>
                </div>
              </div>
              <div class="descrip">
                <p><strong class="top-descr">Venue:</strong> <%= event.venue.name %></p>
              </div>
              <div class="descrip">
                <p><strong class="top-descr">Address:</strong> <%= event.venue.address %></p>
              </div>
              <div class="descrip">
                <p><strong class="top-descr">Time:</strong> <%= event.date.strftime("%k:%M local") %></p>
              </div>
            </div>

          </div>
          <% end %>
      <div class="filter-pane">
        <%= render "shared/chat" %>
      </div>
    </div>
  </div>
</div>
</div>
