<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card" style="width: 600px; border-radius: 10px">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px;">
                      <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                        <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                      </div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Stian Johansen</h4>
                      <p class="mb-0">@m0rbid</p>
                      <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                      <div class="mt-2">
                        <%= simple_form_for @user do |f| %>
                        <label for="user_photo" class="btn btn-primary">Choose a file</label>
                        <%= f.input :photo, as: :file, label: false %>
                      </div>
                    </div>
                    <div class="text-center text-sm-right">
                      <div class="text-muted"><small>Joined 08 Oct 2020</small></div>
                    </div>
                  </div>
                </div>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :name, label: 'Full name', class: 'from-control', placeholder: 'Your name..' %>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :nickname, label: 'Nickname', class: 'form-control', placeholder: current_user.nickname %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :email, label: 'Email', class: 'form-control', placeholder: 'Your email..' %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group" data-controller="select2">
                                <%= f.select :gender, Gender.all.map { |gender| gender.name}, {include_blank: false, required: true, include_hidden: false}, label: 'Gender', class: 'form-control gender-list' %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                          <div class="mb-2"><b>Change Password</b></div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :encrypted_password, label: 'New Password', class: 'form-control' %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                <input class="form-control" type="password" placeholder="••••••"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                          <div class="mb-2"><b>Keeping in Touch</b></div>
                          <div class="row">
                            <div class="col">
                              <label>Email Notifications</label>
                              <div class="custom-controls-stacked px-2">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                  <label class="custom-control-label" for="notifications-blog">New events</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                  <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                      </div>
                    <% end  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
