
<div class="background-profile-page"></div>
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col mb-3">
          <div class="card" style="width: 600px; border-radius: 10px">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px;">
                      <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);" data-controller="image-preview">

                        <% if current_user.photo.attached? %>
                      <% image_url = cloudinary_url(current_user.photo.key) %>
                      <% else %>
                      <% image_url = 'https://kitt.lewagon.com/placeholder/users/ssaunier' %>
                      <% end %>
                        <%= image_tag(image_url,  width: "140px", height: "140px", id: "user-profile-image") %>
                     <!--    <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->

                      </div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><%= current_user.name %></h4>
                      <p class="mb-0">@<%= current_user.nickname %></p>
                      <div class="mt-2">
                        <%= simple_form_for @user do |f| %>
                        <label for="user_photo" class="btn btn-primary">Choose a file</label>
                        <%= f.input :photo, as: :file, label: false, class: 'photo_upload' %>
                      </div>
                    </div>
                    <div class="text-center text-sm-right">
                      <div class="text-muted"><small>Joined: <%= current_user.created_at.strftime("%m-%d-%y") %></small></div>
                    </div>
                  </div>
                </div>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :name, label: 'Full name', class: 'from-control form-control-sm', placeholder: current_user.name %>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :nickname, label: 'Nickname', class: 'form-control form-control-sm', placeholder: current_user.nickname %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :address, label: 'Address', class: 'form-control' %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :email, label: 'Email', class: 'form-control form-control-sm', placeholder: current_user.email %>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :age, label: 'Age', class: 'form-control form-control-sm', placeholder: current_user.age %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              Gender
                              <div class="form-group" data-controller="select2">
                                <%= f.select :gender, Gender.all.map { |gender| gender.name}, {include_blank: false, required: true, include_hidden: false}, label: 'Gender', class: 'form-control select2-list' %>
                              </div>
                            </div>
                            <div class="col">
                              Preferred Game
                              <div class="form-group" data-controller="select2">
                                <%= f.select :preferred_games, Game.all.map { |game| game.name}, {include_blank: false, required: true, include_hidden: false}, label: 'Preferred Games', class: 'form-control select2-list' %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-beginning">
                          <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                      </div>
                    <% end  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
