
<div class="container mt-5 mb-5">
  <%= simple_form_for @user, html: { autocomplete: "off" } do |f| %>
  <div class="row justify-content-center">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col mb-3">
          <div class="card" style="width: 600px; border-radius: 10px">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px;">
                      <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);" data-controller="image-preview">
                        <% if @user.photo.attached? %>
                      <% image_url = cloudinary_url(@user.photo.key) %>
                      <% else %>
                      <% image_url = 'https://miro.medium.com/max/395/1*reXbWdk_3cew69RuAUbVzg.png' %>
                      <% end %>
                        <%= image_tag(image_url,  width: "140px", height: "140px", id: "user-profile-image") %>
                     <!--    <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->

                      </div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><%= @user.name %></h4>
                      <p class="mb-0">@<%= @user.nickname %></p>
                    </div>
                    <div class="text-center text-sm-right">
                      <div class="text-muted"><small>Joined: <%= @user.created_at.strftime("%m-%d-%y") %></small></div>
                    </div>
                  </div>
                </div>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :name, label: 'Full name', input_html: {class: 'form-control-sm'}, disabled: true %>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :nickname, label: 'Nickname', input_html: {class: 'form-control-sm'}, disabled: true %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :email, label: 'Email', input_html: {class: 'form-control-sm'}, disabled: true %>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <%= f.input :age, label: 'Age', input_html: {class: 'form-control-sm'}, disabled: true %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              Gender
                              <div class="form-group" data-controller="select2">
                                <%= f.select :gender_id, Gender.all.map { |gender| [gender.name, gender.id]},
                                {include_blank: false, required: true, include_hidden: false, selected: current_user.gender.id},
                                label: 'Gender', class: 'form-control select2-list', disabled: true
                                 %>
                              </div>
                            </div>
                            <div class="col">
                              Preferred Game
                              <div class="form-group" data-controller="select2">
                                <%= f.select :preferred_games, Game.all.map { |game| game.name}, {include_blank: false, required: true, include_hidden: false}, label: 'Preferred Games', class: 'form-control select2-list', disabled: true %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                      </div>
                      <div class="row">
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <% end  %>
</div>
