<% @events.each do |event|  %>
  <div class="chat-container hidden-chat" data-event-id = "<%= event.id %>">
    <div id="messages" data-event-id="<%= event.id %>">
      <% event.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div class="inppp">
      <%= simple_form_for [ event, @message ], remote: true do |f| %>
        <%= f.input :content,as: :string,
                         wrapper: false,
                         label: false,
                         input_html: {
                           class: 'chat-input-area__input'
                         }, label: false, placeholder: "Message ##{event.title}" %>
        <%= f.submit value: " ", class: "chat-input-area__submit-button" %>
        <% end %>
    </div>
  </div>
<% end %>
