<% @events.each do |event| %>
  <div class="row">
    <div class="col-12 text-center pt-3 pb-5"><h4><%= event.title %></h4></div>
    <div class="col-12">
      <div class="row d-flex justify-content-center">
        <div class="col-5 text-center my-1">Game</div>
        <div class="col-5 my-1"><%= event.game.name %></div>
        <div class="col-5 text-center my-1">Venue</div>
        <div class="col-5 my-1"> <%= event.venue.name %>, <%= event.venue.address %></div>
        <div class="col-5 text-center my-1">Date</div>
        <div class="col-5 my-1"><%= event.date.strftime("%^A %-d %^B %Y") %></div>
        <div class="col-5 text-center my-1">Time</div>
        <div class="col-5 my-1"><%= event.date.strftime("%k:%M HRS") %></div>
      </div>
    </div>
    <div class="col-12">
      <%= render "shared/players" %>
    </div>
    <div class="col-12 text-center update-info">
      <p>Last update:</p>
      <p><span>3 Hrs ago... :</span> TimT joined</p>
    </div>
    <div class="col-12 text-center d-flex justify-content-center">
      <button class="btn btn-primary">Edit Event</button>
    </div>
  </div>
  <% end %>
