<div class=" py-3 pl-5 text-info"> <= Click card for refresh details below:</div>
<% @events.each do |event| %>
  <div class="row dashboardEvent" style="display:none;" data-eventID="<%= event.id %>">
    <div class="col-12 text-center pt-3 pb-5"><h2><%= event.title %></h2></div>
    <div class="col-12">
      <div class="row d-flex justify-content-center">
        <div class="col-5 text-center my-1"><h4 class="text-right">Game</h4></div>
        <div class="col-5 my-1"><h4><%= event.game.name %></h4></div>
        <div class="col-5 text-center my-1"><h4 class="text-right">Venue</h4></div>
        <div class="col-5 my-1"><h4><%= event.venue.name %>, <%= event.venue.address %></h4></div>
        <div class="col-5 text-center my-1"><h4 class="text-right">Date</h4></div>
        <div class="col-5 my-1"><h4><%= event.date.strftime("%^A %-d %^B %Y") %></h4></div>
        <div class="col-5 text-center my-1"><h4 class="text-right">Time</h4></div>
        <div class="col-5 my-1"><h4><%= event.date.strftime("%k:%M HRS") %></h4></div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center text-uppercase mt-5">
        <h4>participants</h4>
      </div>
      <div class="row d-flex justify-content-center mt-2">
        <div class="col-10 player-groups py-5 mb-5">
            <div class="row d-flex justify-content-center">
                <% event.participants.each do |participant| %>
                  <div class="col-5 plaque py-1">
                    <div class="row d-flex justify-content-center">
                      <div class="col-2 pl-3 pr-0"><%= cl_image_tag participant.photo.key, class: 'small-avatar' %></div>
                      <div class="col-8 nametag mb-0 d-flex align-items-center"><h6 class="mb-0"><%= link_to participant.nickname, user_path(participant) %></h6></div>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
      </div>
    </div>
<!--     <div class="col-12 text-center update-info">
      <p>Last update:</p>
      <p><span>3 Hrs ago... :</span> TimT joined</p>
    </div> -->
<!--     <div class="col-12 text-center d-flex justify-content-center mt-5">
      <button class="btn btn-primary">Edit Event</button>
    </div> -->
  </div>
  <% end %>
