<div class="navbar navbar-expand-sm navbar-background navbar-lewagon navbar-height">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "LOGO.png", class: 'navbar-logo' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse text-align-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <% if user_signed_in? %>
        <h5>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "btn btn-outline-primary btn-lg button-navbar mr-3 mt-5" %>
        </li>
        </h5>
        <h5>
        <li class="nav-item active">
          <%= link_to "All events", events_path, class: "btn btn-outline-primary btn-lg button-navbar mr-3 mt-5" %>
        </li>
        </h5>
        <h5>
        <li class="nav-item active">
          <%= link_to "Create event", new_event_path, class: "btn btn-outline-primary btn-lg button-navbar mr-3 mt-5" %>
        </li>
      </h5>
        <h5>
        <li class="nav-item">
          <%= link_to "My events", my_events_path, class: "btn btn-outline-primary btn-lg button-navbar mr-3 mt-5" %>
        </li>
      </h5>
        <li class="nav-item dropdown">
      <% if current_user.photo.attached? %>
      <% image_url = cloudinary_url(current_user.photo.key) %>
      <% else %>
      <% image_url = 'https://miro.medium.com/max/395/1*reXbWdk_3cew69RuAUbVzg.png' %>
      <% end %>
          <%= image_tag image_url, class: "avatar-square-navbar dropdown-toggle mt-1 navbar-pointer", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" id="avatar-dropdown" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", me_path, class: "dropdown-item navbar-dropdown-text" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item navbar-dropdown-text" %>
          </div>
        </li>
      <% else %>
      <h5>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary btn-lg button-navbar" %>
        </li>
      </h5>
      <% end %>
    </ul>
  </div>
</div>
