<h5 class="text-center text-uppercase mt-5">participants</h5>
<div class="row d-flex justify-content-center mt-1">
  <div class="col-10 player-groups py-5">
      <div class="row d-flex justify-content-center">
        <% @events.each do |event| %>
          <% event.participants.each do |participant| %>
            <div class="col-5 plaque py-1">
              <div class="row d-flex justify-content-center">
                <div class="col-2 pl-3 pr-0"><%= image_tag 'AVATAR1.png', class: 'small-avatar' %></div>
                <div class="col-8 nametag mb-0"><p>foxtrot</p></div>
              </div>
            </div>
          <% end %>
        <% end %>
        <!-- <div class="col-5 plaque py-1">
          <div class="row d-flex justify-content-center">
            <div class="col-2 pl-3 pr-0"><%= image_tag 'AVATAR1.png', class: 'small-avatar' %></div>
            <div class="col-8 nametag mb-0"><p>dani-california</p></div>
          </div>
        </div>
        <div class="col-5 plaque py-1">
          <div class="row d-flex justify-content-center">
            <div class="col-2 pl-3 pr-0"><%= image_tag 'AVATAR1.png', class: 'small-avatar' %></div>
            <div class="col-8 nametag mb-0"><p>molly-malone</p></div>
          </div>
        </div>
        <div class="col-5 plaque py-1">
          <div class="row d-flex justify-content-center">
            <div class="col-2 pl-3 pr-0"><%= image_tag 'AVATAR1.png', class: 'small-avatar' %></div>
            <div class="col-8 nametag mb-0"><p>Sundaresh</p></div>
          </div>
        </div>
        <div class="col-5 plaque py-1">
          <div class="row d-flex justify-content-center">
            <div class="col-2 pl-3 pr-0"><%= image_tag 'AVATAR1.png', class: 'small-avatar' %></div>
            <div class="col-8 nametag mb-0"><p>Tim T</p></div>
          </div>
        </div> -->
      </div>
  </div>
</div>
