<div class="container-e pl-5 pr-5" data-controller="events" data-events-game-type-filter="" data-events-time-type-filter="">
  <div class="row">
    <div class="col-6" data-target="events.events" style="padding: 10px;">
      <h1 style="color: rgb(8,146,208);">All events</h1>
      <%= simple_form_for("", method: :get, url: events_path) do |f| %>
      <div class="form-group search-box">
        <%= f.input :query, label: false, :input_html => { :class => 'form-control search-txt' }, placeholder: 'Search for city..' %>
        <button name="button" type="submit" class="search-btn"><i class="fas fa-search"></i> Search</button>
      </div>
      <% end  %>
<!--       <div class="search-box">
        <input class="search-txt" type="text" placeholder="Type City you want">
        <a href="" class='search-btn'>
          <i class="fas fa-search"></i>
        </a>
      </div> -->
      <!-- <div class="d-flex justify-content-between align-items-center form-group">
          <div class="inner-addon left-addon d-flex col-12">
            <i class="fas fa-search"></i>
            <input type="text" id="cit" class="form-control sear input-xxlarge search-query" placeholder="City" />
          </div>
        </div> -->
      <div class="filtersss d-flex justify-content-between">
        <div class="gametypee my-2">
             <h3>Game type</h3>
             <input class="checkbox-budget" type="checkbox" name="game-type" id="budget-1" data-action="click->events#filterGameType" data-game-type="strategy">
                <label class="for-checkbox-budget" for="budget-1">
                  <span >Strategy</span>
                </label>
                <input class="checkbox-budget" type="checkbox" name="game-type" id="budget-2" data-action="click->events#filterGameType" data-game-type="fun">
                <label class="for-checkbox-budget" for="budget-2">
                  <span >Fun</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-type" id="budget-3" data-action="click->events#filterGameType" data-game-type="trivia">
                <label class="for-checkbox-budget" for="budget-3">
                  <span >Trivia</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-type" id="budget-4" data-action="click->events#filterGameType" data-game-type="adventure">
                <label class="for-checkbox-budget" for="budget-4">
                  <span >Adventure</span>
                </label>
            </div>
            <div class="dateee my-2">
            <h3>Date</h3>
             <input class="checkbox-budget" type="checkbox" name="game-time" id="budget-5" data-action="click->events#filterTimeType" data-target="events.today" data-time-type="today">
                <label class="for-checkbox-budget" for="budget-5">
                  <span>Today</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-time" id="budget-6" data-action="click->events#filterTimeType" data-target="events.tomorrow" data-time-type="tomorrow">
                <label class="for-checkbox-budget" for="budget-6">
                  <span>Tomorrow</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-time" id="budget-7" data-action="click->events#filterTimeType" data-target="events.weekend" data-time-type="weekend">
                <label class="for-checkbox-budget" for="budget-7">
                  <span>This weekend</span>
                </label><!--
                --><input class="checkbox-budget" type="checkbox" name="game-time" id="budget-8" data-action="click->events#filterTimeType" data-time-type="week">
                <label class="for-checkbox-budget" for="budget-8">
                  <span>This week</span>
                </label>
          </div>
      </div>
      <%= render "shared/card" %>
    </div>
    <div class="col-6">
      <div class="mapp" id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
