
<div class="banner text-center">
  <div class="text-center apac">
    <h1 class="text-white disp">Step into board games with</h1>
    <h1 class="tittt display-1">let's play</h1>
    <p class="displ text-white text-bold">Here you can join board game events and even <br> organise them yourself</p>
    <form action="#" class="form-inline frr p-4">
        <input type="text" class="form-control-lg specc inline-block" style="margin-left: 40px;" placeholder="Enter your location...">
        <button class="btn btn-primary ser-but btn-lg">Search</button>
    </form>
  </div>
</div>
<div class="wrpp">
  <div class="container max">
    <div class="titl">
    <h2 class="text-center text-white m-5">Most common games in events</h2>
    </div>
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
      <div >
        <a class="btn-floating l" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating r" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Chess</h4>
                </div>
                <%= image_tag "chesss.jpg", class: "card-img-top gray" %>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Monopoly</h4>
                </div>
                <%= image_tag "monopoly.jpg", class: "card-img-top gray" %>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Checkers</h4>
                </div>
                <%= image_tag "checkers.jpg", class: "card-img-top gray" %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Battleship</h4>
                </div>
                <%= image_tag "battleship.jpg", class: "card-img-top gray" %>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Scrabble</h4>
                </div>
                <%= image_tag "scrabble.jpg", class: "card-img-top gray" %>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Clue</h4>
                </div>
                <%= image_tag "clue.jpg", class: "card-img-top gray" %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Stratego</h4>
                </div>
                <%= image_tag "stratego.jpg", class: "card-img-top gray" %>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Uno</h4>
                </div>
                <%= image_tag "uno.jpg", class: "card-img-top gray" %>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2 card-size">
                <div class="card-body m-4 text-center">
                  <h4 class="card-title">Backgammon</h4>
                </div>
                <%= image_tag "backgammon.jpg", class: "card-img-top gray" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
